.modal-common {
  box-shadow: 0 4px 12.1px 0 #00000040;
  padding: 16px 20px;
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  z-index: 10;
  width: max-content;
}
.modal-common-close{
  height: fit-content;
  display: flex;
  padding: 13px;
  cursor: pointer;
}