.status-icon {
    width: inherit;
    height: auto;
}

@keyframes rotate {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.status-icon__loading {
    animation: 2s linear 0s infinite reverse both running rotate;
}