@font-face {
  font-family: Berthold_Akzidenz_Grotesk-700;
  font-weight: 700;
  src: local(Inter),
    url(./assets/fonts/Berthold_Akzidenz_Grotesk-700.ttf) format("truetype");
}

@font-face {
  font-family: Berthold_Akzidenz_Grotesk-600;
  font-weight: 600;
  src: local(Inter),
    url(./assets/fonts/Berthold_Akzidenz_Grotesk-600.ttf) format("truetype");
}

@font-face {
  font-family: Berthold_Akzidenz_Grotesk-500;
  font-weight: 500;
  src: local(Inter),
    url(./assets/fonts/Berthold_Akzidenz_Grotesk-600.ttf) format("truetype");
}

@font-face {
  font-family: Berthold_Akzidenz_Grotesk-400;
  font-weight: 400;
  src: local(Inter),
    url(./assets/fonts/Berthold_Akzidenz_Grotesk-400.ttf) format("truetype");
}

* {
  font-family: Berthold_Akzidenz_Grotesk-400, Arial, sans-serif !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.fs {
  &--xsm {
    font-size: 12px;
    line-height: 1.2;
  }

  &--sm {
    font-size: 14px;
    line-height: 1.2;
  }

  &--md {
    font-size: 16px;
    line-height: 1.2;
  }

  &--lg {
    font-size: 20px;
    line-height: 1.2;
  }
}

.fw {
  &--def {
    font-weight: 400;
  }

  &--sm {
    font-weight: 500;
  }

  &--md {
    font-weight: 600;
  }

  &--lg {
    font-weight: 700;
  }
}

.ant-btn {
  height: auto;
}

.pd {
  &-sm {
    padding: 10px 17px;
  }

  &-xmd {
    padding: 14px 24px;
  }

  &-md {
    padding: 25px 30px;
  }

  &-lg {
    padding: 35px 40px;
  }
}

.mt-1 {
  margin-top: 12px;
}

.mb-1 {
  margin-bottom: 12px;
}

.mb-3 {
  margin-bottom: 12px;
}

.flex-jc--start {
  justify-content: start;
}

.bg {
  &--accent {
    background: #0094de;
    color: #ffffff;
    border: none;
  }

  &--low {
    background: #0094de33;
    color: #333333;
    border: none;
  }

  &--gray {
    background: #f6f6f180;
    color: #333333;
    border: none;
  }

  &--white {
    background: #ffffff;
    color: #000;
  }

  &--black {
    background: #000;
    color: #dadada;
    border-radius: 1px;
    border: none;
  }

  &--transparent {
    background: rgba(218, 218, 218, 0);
    color: rgba(51, 51, 51, 1);

    border: none;

    path {
      fill: #dadada;
    }
  }
}

h1,
h2 {
  margin: 0;
}

.ant-form-item-label {
  color: #a8cfe5 !important;
  padding: 0 0 4px !important;
}

.ant-form-item:not(.form-item-def) {
  background: #e4f0f7;
  padding: 8.5px 12px 8px 12px;
}

.ant-form-item:not(.form-item-def):has(input) {
  padding: 8.5px 12px 2px 12px;
}

.ant-form-item:has([disabled]),
.ant-form-item:has(.disabled) {
  opacity: 0.6;
}

.ant-input,
.ant-input:hover,
.ant-input:focus {
  background: unset;
  border: unset;
  padding: 0;
  box-shadow: none;
}

.ant-form-item-control-input {
  min-height: auto !important;
}

.ant-tabs-ink-bar {
  height: 6px !important;
}

.ant-table-cell {
  background: rgba(255, 255, 255, 1) !important;
}

.ant-layout {
  background-color: white;
}

:where(.css-dev-only-do-not-override-144alug).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  height: 100% !important;
  width: 4px;
  background-color: rgba(207, 207, 207, 1);
}

.ant-input-search-button {
  background-color: white !important;
  border-color: transparent;
}

.table-head {
  border-bottom: 1px solid rgba(207, 207, 207, 1);
  position: relative;

  th {
    padding: 24px 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.245;
    text-align: left;
    color: #757778 !important;
    border-bottom: 1px solid rgba(207, 207, 207, 1);
    /* нижняя граница */
    border-right: 4px solid rgba(207, 207, 207, 1);
    /* правая граница */
  }

  th:last-child {
    border-right: none;
    /* убираем правую границу у последней ячейки */
  }

  .icon {
    min-width: 36px;
    cursor: pointer;
  }
}

tr td {
  padding: 32.5px 20px;
}

.input-group {
  position: relative;
  width: 100%;

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    input {
      padding: 8px 0;
      font-size: 14px;
      width: 100%;
      border: none;
      outline: none;
      background: transparent;
    }

    label {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #757778;
      transition: all 0.2s ease;
      pointer-events: none;
    }

    input:focus ~ label,
    input:not(:placeholder-shown) ~ label {
      top: 0;
      font-size: 12px !important;
      color: rgba(0, 148, 222, 1);
    }
  }
}

.actionBtn {
  padding: 12.5px 24px;
  color: white;
  background: rgba(0, 148, 222, 1);
  border-color: transparent;
  cursor: pointer;
}

.table-header-text {
  color: #757778;
}

table {
  &.is-loading {
    opacity: 0.3;
  }
}

.cursor {
  cursor: pointer;
}

.active-icon {
  background: #c2e8ff;
}

.ant-select-selector {
  background-color: #f6f6f180 !important;
  border-radius: 0 !important;
  border-color: transparent !important;
  height: 36px;
}

.ant-select-selector:hover {
  border-color: transparent !important;
}

.custom-select .ant-select-selector {
  box-shadow: none !important;
}

.custom-select:focus {
  outline: none !important;
}

.custom-select .ant-select-arrow {
  display: none !important;
}

.ant-select-dropdown {
  border-radius: 0;
  box-shadow: 0 4px 12.1px 0 #00000040;
}

.ant-select-dropdown .listbox:hover {
  background: none;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background: transparent !important;
}

.custom-select .ant-select-selection-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: -0.03em;
  color: #333333;
}

.ant-select-open {
  background-color: #c9c9c9;
  opacity: 1;
}

.dateSelected {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.1px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #333333;
}

.graphics-container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 48px;
  border: 1px solid #cfcfcf;
  padding: 56px;
  min-height: 560px;
  height: 100%;
}
.active-container {
  background: rgba(246, 246, 246, 1);
}

.first-column,
.second-column,
.third-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.third-column {
  align-items: flex-end;
}

.kp-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 39.84px;
  text-align: left;
  color: #333333;
  max-width: 743px;

  height: 100%;
}

.organization {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.66px;
  text-align: left;
  color: #757778;
}

.kp-char {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .kp-items {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .kp-item-title {
      font-size: 14px;
      font-weight: 500;
      line-height: 17.21px;
      text-align: left;
      color: #757778;
    }

    .kp-item-description {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.66px;
      text-align: left;
    }
  }
}

.downloadDocument {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.1px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #333333;
  }
}

.date-bottom {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.66px;
  text-align: right;
  color: #757778;
}

.graphics-container {
  margin-bottom: 20px;
}

p {
  margin: 0;
}

.date-picker-trigger {
  padding: 6px 16px;
  cursor: pointer;
}

.status-bg {
  &--success {
    background: #edfdf2;
    border: 1px solid #006c23;

    * {
      color: #006c23;
    }
  }

  &--error {
    background: #ffeeee;
    border: 1px solid #8f100d;

    * {
      color: #8f100d;
    }
  }
}

.ant-form-item .ant-input-disabled {
  background: unset !important;
}

:where(.css-dev-only-do-not-override-1mcm4dg).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  width: 4px;
  height: 100%;
}

td.ant-table-cell {
  border-bottom: transparent !important;
}

.ant-tabs .ant-tabs-nav::before {
  display: none;
}

.ant-tabs-nav-list {
  border-bottom: 2px solid rgba(207, 207, 207, 1);
}

.no-data-text {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.83px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.clear-data {
  padding: 14.5px 24px;
  border-color: transparent;
  background: rgba(246, 246, 241, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.1px;
  letter-spacing: -0.03em;
  color: rgba(51, 51, 51, 1);
  cursor: pointer;
}

.isLoading {
  opacity: 0.3;
}

.colorBlack {
  color: (51, 51, 51, 1) !important;
}

.ant-table-cell {
  background: rgba(255, 255, 255, 1) !important;
}

.ant-table-row {
  background: rgba(255, 255, 255, 1) !important;
}
.calendar-wrapper {
  max-width: 300px;
  background: rgba(246, 246, 246, 1);
  padding: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.select {
  padding: 8px;
  margin: 0 10px;
}

.week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(207, 207, 207, 1);
}

.week-day {
  text-align: center;
  font-weight: bold;
}

.week-day.weekend {
  color: rgba(186, 46, 43, 1);
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.day-cell {
  padding: 12.5px 10.7px;
  text-align: center;
  cursor: pointer;
}

.day-cell:hover {
  background: rgba(0, 0, 0, 0.05);
}

.day-cell.weekend {
  color: rgba(186, 46, 43, 1);
}
.select {
  background-color: transparent;
  border-color: transparent;
}
