@font-face {
  font-family: Inter;
  src: local(Inter), url(./assets/fonts/Inter.ttf) format('truetype');
}

* {
  font-family: Inter, Arial, sans-serif;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.fs {
  &--xsm {
    font-size: 12px;
    line-height: 1.2;
  }

  &--sm {
    font-size: 14px;
    line-height: 1.2;
  }

  &--md {
    font-size: 16px;
    line-height: 1.2;
  }

  &--lg {
    font-size: 20px;
    line-height: 1.2;
  }
}

.fs {
  &--sm {
    font-size: 14px;
    line-height: 1.2;
  }

  &--md {
    font-size: 16px;
    line-height: 1.2;
  }

  &--lg {
    font-size: 20px;
    line-height: 1.2;
  }
}

.fw {
  &--def {
    font-weight: 400;
  }

  &--sm {
    font-weight: 500;
  }

  &--md {
    font-weight: 600;
  }

  &--lg {
    font-weight: 700;
  }
}

.pd {
  &-sm {
    padding: 10px 17px;
  }

  &-md {
    padding: 25px 30px;
  }

  &-lg {
    padding: 35px 40px;
  }
}

.bg {
  &--accent {
    background: #0094DE;
    color: #FFFFFF;
    border: none;
  }

  &--low {
    background: rgba(0, 148, 222, 0.2);
    color: #333333;
    border: none;
  }

  &--white {
    background: #ffffff;
    color: #000;
  }

  &--black {
    background: #000;
    color: #dadada;
    border-radius: 1px;
    border: none;
  }

  &--transparent {
    background: rgba(218, 218, 218, 0);
    color: #ffffff;
    border: none;

    path {
      fill: #dadada;
    }
  }
}

h1,
h2 {
  margin: 0;
}

.ant-form-item-label {
  color: #a8cfe5 !important;
  padding: 0 0 4px !important;
}

.ant-form-item {
  background: #E4F0F7;
  padding: 8.5px 12px 8px 12px;
}

.ant-form-item:has(input) {
  background: #E4F0F7;
  padding: 8.5px 12px 2px 12px;
}

.ant-input,
.ant-input:hover,
.ant-input:focus {
  background: unset;
  border: unset;
  padding: 0;
  box-shadow: none;
}

.ant-form-item-control-input {
  min-height: auto !important;
}

.ant-tabs-ink-bar {
  height: 6px !important;
}

.ant-table-cell {
  background: rgba(255, 255, 255, 1) !important;

}

.ant-layout {
  background-color: white;
}

:where(.css-dev-only-do-not-override-144alug).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  height: 100% !important;
  width: 4px;
  background-color: rgba(207, 207, 207, 1);
}



.ant-input-search-button {
  background-color: white !important;
  border-color: transparent;
}

.table-head {
  border-bottom: 1px solid rgba(207, 207, 207, 1);
  position: relative;

  th {
    padding: 24px 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.245;
    text-align: left;
    color: #757778 !important;
    border-bottom: 1px solid rgba(207, 207, 207, 1);
    /* нижняя граница */
    border-right: 4px solid rgba(207, 207, 207, 1);
    /* правая граница */
  }

  th:last-child {
    border-right: none;
    /* убираем правую границу у последней ячейки */
  }

  .icon {
    min-width: 36px;
    cursor: pointer;
  }
}

tr td {
  padding: 32.5px 20px;
}


.input-group {
  position: relative;
  width: 100%;

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    input {
      padding: 8px 0;
      font-size: 14px;
      width: 100%;
      border: none;
      outline: none;
      background: transparent;
    }

    label {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #757778;
      transition: all 0.2s ease;
      pointer-events: none;
    }

    input:focus~label,
    input:not(:placeholder-shown)~label {
      top: 0;
      font-size: 12px !important;
      color: rgba(0, 148, 222, 1);
    }
  }
}

.actionBtn {
  padding: 12.5px 24px;
  color: white;
  background: rgba(0, 148, 222, 1);
  border-color: transparent;
  cursor: pointer;
}

.table-header-text {
  color: #757778;
}

table {
  &.is-loading {
    opacity: 0.3;
  }
}